
#yellow{
    background: yellow;
    border-top-style: solid;
    border: 1px solid green;
}

#red{
    background: red;
    border-top-style: solid;
    border: 1px solid black;
}

#green{
    background: green;
    border-top-style: solid;
    border: 1px solid yellow;
}